<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964152886946-p9238088fbac7s98ko523j3una8tfekv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964152886946-p9238088fbac7s98ko523j3una8tfekv</string>
	<key>API_KEY</key>
	<string>AIzaSyDn27GSitr0u1OUSwJcfx1KHYjw5V5rdHE</string>
	<key>GCM_SENDER_ID</key>
	<string>964152886946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pdp.instagramFirebaseUi</string>
	<key>PROJECT_ID</key>
	<string>fir-instgram-ui</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-instgram-ui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964152886946:ios:81cb264c4599dbcfec39fb</string>
</dict>
</plist>